<div class="placeholder">
  <div class="placeholder">
    <%= @content.category %>
  </div>
  <div class="placeholder">
    <%= @content.title %>
  </div>
  <div class="placeholder">
    <span><%=@content.author%></span>, <span><%= @content.date %></span>
  </div>
</div>
<div class="placeholder">
  <%= @content.description %>
</div>
<div class="placeholder">
  <%= link_to "Notez ce contenu", "#" %>
</div>
<hr>
<div class="placeholder">

</div>
