<!-- Page header -->
<div class="profile-header">
  <h2>Bonjour</h2>
  <h1><%= "#{current_user.name} !" %></h1>
</div>

<!-- Page subtitle -->
<div class="content-title">
  <h3 class="text-center">Mes parcours</h3>
</div>

<div class="tabs" id="myTabs">
<!-- Tabs -->
<div class="container-tabs-btn">
  <%= link_to "En cours", '#', class: "tab-button btn-topic-disabled btn-active", id: "pending" %>
  <%= link_to "Complétés", '#', class: "tab-button btn-topic-disabled", id: "completed" %>
  <%= link_to "Favoris", '#', class: "tab-button btn-topic-disabled", id: "favorite" %>
</div>
<!-- Tabs content -->
<div class="container-tabs-content" id="myTabsContent">
  <div class="tab-content active" id="pending"><p>content en cours</p></div>
  <div class="tab-content" id="completed"><p>content completed</p></div>
  <div class="tab-content" id="favorite"><p>content fav</p></div>
</div>
</div>





<div class="cards-container-vertical">
  <%= link_to "#", class: "card-photo" do %>
    <h4>Renaissance</h4>
    <p>Description brève du contenu</p>
    <div class="card-bg-icon">
      <svg width="228" height="167" viewBox="0 0 228 167" fill="none" xmlns="http://www.w3.org/2000/svg">
      <!-- <g opacity="0.12"> -->
      <path d="M189.442 124.672L189.925 122.365C190.01 123.254 189.841 124.064 189.442 124.672Z" fill="white"/>
      <path d="M83.2386 79.5392C81.2123 79.115 79.2631 78.3227 77.4637 77.2031C73.6777 74.8224 71.0677 71.2276 70.0975 67.054C69.1273 62.8803 69.9329 58.643 72.3293 55.0972C74.7517 51.5569 78.4801 49.161 82.856 48.3351C87.232 47.5092 91.7156 48.371 95.5068 50.7272C99.2928 53.108 101.903 56.7027 102.873 60.8763C103.843 65.05 103.038 69.2874 100.641 72.8331C98.2188 76.3734 94.4904 78.7694 90.1145 79.5952C87.7993 80.0328 85.4727 80.0068 83.2386 79.5392ZM88.679 53.5502C87.1723 53.2348 85.6039 53.2139 84.0778 53.5092C81.1449 54.048 78.6351 55.6744 77.0306 58.0282C73.7025 62.9159 75.2392 69.5649 80.4658 72.8364C83.0088 74.419 86.0066 74.9953 88.9446 74.432C91.8775 73.8932 94.3873 72.2668 95.9918 69.913C99.3199 65.0253 97.7832 58.3763 92.5566 55.1048C91.3294 54.3612 90.0299 53.833 88.679 53.5502Z" fill="white"/>
      <path d="M227.388 44.316C227.367 44.1579 227.351 43.9752 227.329 43.8171C227.319 43.6099 227.261 43.3673 227.12 43.1329C227.089 43.0239 226.995 42.953 226.953 42.8931C226.818 42.7623 226.735 42.6423 226.579 42.4816C226.152 42.0592 225.637 41.7978 225.169 41.6999L28.671 0.56557C27.9696 0.418739 27.1494 0.580067 26.4857 1.03031L26.4235 1.06851C26.2265 1.23221 25.9984 1.41501 25.8431 1.63867C25.8329 1.68775 25.8329 1.68775 25.8329 1.68775C25.6102 1.97416 25.4966 2.25777 25.4298 2.57681L0.529192 121.527C0.477818 121.772 0.483541 122.004 0.546355 122.222C0.525805 122.32 0.567485 122.38 0.55721 122.429C0.594338 122.77 0.698834 123.048 0.881263 123.343C1.30865 124.021 2.00036 124.474 2.70177 124.62L199.174 165.749C199.72 165.863 200.296 165.83 200.779 165.598C200.955 165.533 201.08 165.456 201.287 165.372C201.349 165.334 201.474 165.257 201.536 165.219C201.733 165.055 201.883 164.856 202.002 164.676C202.085 164.54 202.173 164.379 202.256 164.242C202.338 164.106 202.385 163.885 202.415 163.738L227.306 44.8368C227.368 44.6705 227.409 44.4741 227.388 44.316ZM216.328 45.2029L200.76 52.4723L44.4758 19.7563L34.7153 7.1847L216.328 45.2029ZM123.36 124.928C111.512 119.348 103.635 112.935 98.8 108.183C105.258 107.383 111.158 105.365 116.96 103.428C123.41 101.243 129.502 99.2142 136.216 98.7496C136.626 98.733 137.062 98.7219 137.478 98.6807C134.599 99.9992 132.354 101.784 131.684 103.949C131.323 105.154 131.142 107.575 134.04 110.052C138.733 114.185 144.05 116.118 149.201 117.939C152.454 119.107 155.594 120.174 158.531 121.814C158.625 121.884 158.771 121.966 158.849 121.983C157.905 122.477 155.814 123.268 151.308 124.195C145.5 125.387 139.515 126.645 134.555 131.165L128.658 129.931C128.793 129.805 128.126 128.846 128.172 128.625C126.703 126.704 124.717 125.571 123.36 124.928ZM115.955 127.272L27.6032 108.776L30.5521 94.6899C35.0807 92.4871 53.3944 84.5372 69.1079 90.9519C87.0512 98.2431 91.175 107.56 91.1647 107.609C91.2795 107.838 91.4568 108.157 91.6338 108.347C92.1231 108.86 101.829 120.139 115.955 127.272ZM152.794 129.271C159.714 127.825 164.43 126.148 164.942 122.669C165.254 120.659 163.983 118.831 161.19 117.273C157.842 115.393 154.354 114.176 150.997 112.987C146.158 111.231 141.558 109.628 137.687 106.23C137.167 105.737 137.01 105.448 137.01 105.448C137.464 104.057 143.898 101.434 151.752 100.183C160.559 102.411 168.375 107.044 173.396 113.372C178.453 119.785 181.545 123.147 183.751 124.788L180.417 140.715L141.735 132.617C145.008 130.843 148.777 130.069 152.794 129.271ZM177.777 110.319C168.777 98.9056 152.264 92.2979 135.664 93.4851C128.26 94.0101 121.488 96.3069 114.955 98.4999C109.241 100.404 103.808 102.263 97.9416 102.956C96.8774 103.118 95.2171 103.795 95.0612 103.762C93.4236 100.704 88.0727 92.975 71.1742 86.133C56.2561 80.0642 40.0541 84.9211 31.9032 88.2356L45.0907 25.2388L197.894 57.2262L184.999 118.824C183.547 117.342 181.272 114.739 177.777 110.319ZM29.6571 9.45598L39.9387 22.7771L21.8861 109.014L7.16589 116.896L29.6571 9.45598ZM10.9403 121.017L24.841 113.552L181.073 146.257L192.449 159.013L10.9403 121.017ZM198.111 157.355L185.559 143.226L203.591 57.0866L220.788 49.0311L198.111 157.355Z" fill="white"/>
      </g>
      </svg>
    </div>
    <div class="tag-progression">ÉTAPE 1/6</div>
  <% end %>
</div>


<!-- <div class="tag-progression">COMPLÉTÉ LE 12.03.2021</div> -->
