<!-- Btn back -->
<%= link_to '#', class: "btn-back" do  %>
  <i class="fas fa-chevron-left"></i>
<% end %>

<!-- Page header -->
<div class="quiz-header">
  <!-- Content title -->
  <h4><%= @user_journey_content.content.title %></h4>
  <!-- Content aythor & date -->
  <p><%= "#{@user_journey_content.content.author}, #{@user_journey_content.content.date}" %></p>
</div>

<!-- Quiz progression -->
<div class="quiz-progression">
  <div class="tag-topic painting">
    <%= "#{@quiz_questions.size}/#{@quiz_questions.size}" %>
  </div>
</div>

<% step = @quiz_questions.size %>
<% counter = 1 %>
<% @quiz_questions.each do |question| %>
  <!-- Question -->
  <div class="quiz-question">
    <h2><%= question.label %></h2>
  </div>
  <!-- Possible answers -->
  <div class="quiz-answers">
    <% @answers.where(quiz_question: question).each do |answer| %>
      <!-- Hidden radio btn + Label -->
      <input class="checkbox-answers" type="radio" name="answers" id="answer-<%= counter %>">
      <label class="for-checkbox-answers" for="answer-<%= counter %>"><%= answer.content %></label>
      <% counter += 1 %>
    <% end %>
  </div>
  <!-- CTA btn -->
  <div class="quiz-btn">
    <% if step > 1 %>
      <%= link_to "Valider ma réponse", '#', class: "btn-start", id: "nextBtn"%>
    <% elsif step == 1 %>
      <%= link_to "Terminer le quiz", '#', class: "btn-start", id: "endBtn"%>
    <% end %>
  </div>
  <% step -= 1 %>
<% end %>



<!-- header  ALREADY DONE IN MAIN FILE-->
<div class="quiz-header">
  <h4>Title</h4>
  <p>Author, date</p>
</div>

<!-- Message -->
<div class="quiz-question">
  <h2>Bravo tu as 2 bonnes réponses !</h2>
</div>

<!-- Feedback -->
<div class="feedback-container">
  <h4>Qui est lorem ipsum ?</h4>
  <p class="correct">La bonne réponse est {réponse}</p>

  <h4>Qui est lorem ipsum ?</h4>
  <p class="correct">La bonne réponse est {réponse}</p>

  <h4>Qui est lorem ipsum ?</h4>
  <p class="incorrect">Tu as répondu {réponse}, la bonne réponse était {réponse}</p>
  <!-- CTA btn -->
  <%= link_to "Revenir au contenu", '#', class: "btn-start", id: "backBtn"%>
</div>
