<!-- Journey cards -->
<% data.each do |journey| %>
  <div class="card-journey-item <%= @all_journeys_topic[journey].downcase %>">
    <%= link_to journey_path(journey), class: "card-journey" do %>

      <!-- Duration -->
      <div class="card-journey-timer">
        <%= image_tag("clock.svg") %>
        <h4><%= @all_journeys_duration[journey][0] %></h4>
        <%= image_tag("user.svg") %>
        <h4><%= @all_journeys_duration[journey][1] %></h4>
        <%= image_tag("star.svg") %>
        <h4><%= @all_journeys_duration[journey][2] %></h4>
      </div>

      <!-- Text -->
      <h4><%= journey.name %></h4>
      <p><%= "#{journey.summary.split.first(4).join(" ")}..." %></p>

      <!-- Background icon -->
      <div class="card-bg-icon">
        <!-- Photo -->
        <% if "#{@all_journeys_topic[journey]}" == "Photographie" %>
          <%= image_tag("journey-photo.svg") %>
        <!-- Art -->
        <% elsif @all_journeys_topic[journey] == "Art" %>
          <%= image_tag("journey-art.svg") %>
        <!-- Architecture -->
        <% elsif @all_journeys_topic[journey] == "Architecture" %>
          <%= image_tag("journey-architecture.svg") %>
        <!-- Music -->
        <% elsif @all_journeys_topic[journey] == "Musique" %>
          <%= image_tag("journey-music.svg") %>
        <% end %>
      </div>

    <% end %>
  </div>
<% end %>
