<div class="navbar-container">
  <div class="navbar-item">
    <%= link_to "/", class: "" do %>
      <svg width="43" height="40" viewBox="0 0 37 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.975625 32V31.52L1.93563 31.184C3.02363 30.832 3.56763 29.92 3.56763 28.448V3.872C3.56763 3.232 3.48763 2.72 3.32763 2.336C3.19963 1.952 2.83163 1.632 2.22363 1.376L0.975625 0.799998V0.319999H10.2396L19.1196 23.552L27.4716 0.319999H36.9276V0.799998L36.1596 1.088C35.5516 1.312 35.1356 1.632 34.9116 2.048C34.6876 2.432 34.5756 2.944 34.5756 3.584V28.688C34.5756 29.328 34.6556 29.824 34.8156 30.176C34.9756 30.528 35.3596 30.832 35.9676 31.088L36.9276 31.52V32H24.9756V31.52L25.9836 31.088C26.5916 30.832 26.9756 30.528 27.1356 30.176C27.2956 29.824 27.3756 29.328 27.3756 28.688V17.888L27.4716 4.16L17.4396 32H15.0396L4.57563 4.496L4.71963 16.448V28.544C4.71963 29.248 4.81563 29.824 5.00763 30.272C5.23163 30.688 5.64763 30.992 6.25563 31.184L7.31163 31.52V32H0.975625Z" fill="white"/>
      </svg>
    <% end %>
  </div>

  <div class="navbar-item">
    <%= link_to "/", class: "" do %>
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M35.8289 40L19.0147 23.1763C17.1188 24.3373 14.8858 25.0085 12.4972 25.0085C5.59391 25.0085 0 19.4082 0 12.5043C0 5.60033 5.59715 0 12.4972 0C19.3972 0 24.9943 5.60033 24.9943 12.5043C24.9943 14.8812 24.3299 17.1058 23.1794 18.9996L40 35.8297L35.8289 40ZM12.5749 1.34901C6.38146 1.34901 1.36445 6.37211 1.36445 12.5659C1.36445 18.7596 6.3847 23.7827 12.5749 23.7827C18.7652 23.7827 23.7854 18.7596 23.7854 12.5659C23.7854 6.37211 18.7652 1.34901 12.5749 1.34901Z" fill="white"/>
      </svg>
    <% end %>
  </div>

  <div class="navbar-item">
    <%= link_to "/", class: "" do %>
      <svg width="32" height="40" viewBox="0 0 32 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.92793 0C1.50901 0 0.315315 1.03604 0.0450444 2.38739C0.0225218 2.56757 0 2.74775 0 2.95045V37.0495C0 37.2297 0.0225218 37.4324 0.0450444 37.6126C0.315315 38.964 1.50901 40 2.92793 40H31.5991V0H2.92793ZM17.2748 1.12613H27.6126V22.2522L22.4324 26.1036L17.2522 22.2522V1.12613H17.2748ZM1.1036 2.95045C1.1036 2.74775 1.12613 2.56757 1.19369 2.38739C1.41892 1.64415 2.11712 1.12613 2.92793 1.12613H3.69369V34.1216H2.92793C2.22973 34.1216 1.5991 34.3694 1.1036 34.7522V2.95045ZM30.518 36.4865H4.27928V37.5901H30.518V38.8513H2.92793C2.11712 38.8513 1.41892 38.3108 1.19369 37.5901C1.12613 37.4099 1.1036 37.2297 1.1036 37.027C1.1036 36.8243 1.12613 36.6441 1.19369 36.464C1.41892 35.7207 2.11712 35.2027 2.92793 35.2027H30.4955V36.4865H30.518ZM30.518 34.1216H4.84234V1.12613H16.1486V22.8153L22.4324 27.5L28.7162 22.8153V1.12613H30.4955V34.1216H30.518Z" fill="white"/>
      <path d="M26.419 18.2657L23.6712 17.8603L22.455 15.3828L21.2163 17.8603L18.4685 18.2657L20.4505 20.2026L19.9775 22.9279L22.4325 21.6441L24.8874 22.9279L24.4145 20.2026L26.419 18.2657ZM22.4325 20.6981L21.0811 21.3963L21.3289 19.8873L20.2478 18.8288L21.7568 18.6035L22.4325 17.2297L23.1081 18.6035L24.6172 18.8288L23.5361 19.8873L23.7838 21.3963L22.4325 20.6981Z" fill="white"/>
      </svg>
    <% end %>
  </div>

  <div class="navbar-item">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "" do %>
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 0C8.972 0 0 8.972 0 20C0 31.028 8.972 40 20 40C31.028 40 40 31.028 40 20C40 8.972 31.028 0 20 0ZM20 38.4609C9.82089 38.4609 1.53911 30.1791 1.53911 20C1.53911 9.82089 9.82089 1.53911 20 1.53911C30.1791 1.53911 38.4609 9.82089 38.4609 20C38.4609 30.1791 30.1791 38.4609 20 38.4609Z" fill="white"/>
        <path d="M20.5014 24.1311C24.9652 24.1311 28 20.672 28 16.4058C28 12.1387 24.9652 8.68091 20.5014 8.68091C16.0348 8.68091 13 12.1387 13 16.4058C13 20.672 16.0348 24.1311 20.5014 24.1311Z" fill="white"/>
        <path d="M26.464 23.624C24.8874 25.0607 22.8236 25.9099 20.5005 25.9099C18.1764 25.9099 16.1112 25.0607 14.5347 23.624C10.7848 25.705 8.19604 29.6553 8 34.249C11.1714 37.5603 15.6014 39.624 20.4995 39.624C25.3977 39.624 29.8277 37.5603 33 34.2495C32.804 29.6553 30.2138 25.705 26.464 23.624Z" fill="white"/>
        </svg>
      <% end %>

    <% else %>
      <%= link_to new_user_session_path, class: "" do %>
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 0C8.972 0 0 8.972 0 20C0 31.028 8.972 40 20 40C31.028 40 40 31.028 40 20C40 8.972 31.028 0 20 0ZM20 38.4609C9.82089 38.4609 1.53911 30.1791 1.53911 20C1.53911 9.82089 9.82089 1.53911 20 1.53911C30.1791 1.53911 38.4609 9.82089 38.4609 20C38.4609 30.1791 30.1791 38.4609 20 38.4609Z" fill="white"/>
        <path d="M20.5014 24.1311C24.9652 24.1311 28 20.672 28 16.4058C28 12.1387 24.9652 8.68091 20.5014 8.68091C16.0348 8.68091 13 12.1387 13 16.4058C13 20.672 16.0348 24.1311 20.5014 24.1311Z" fill="white"/>
        <path d="M26.464 23.624C24.8874 25.0607 22.8236 25.9099 20.5005 25.9099C18.1764 25.9099 16.1112 25.0607 14.5347 23.624C10.7848 25.705 8.19604 29.6553 8 34.249C11.1714 37.5603 15.6014 39.624 20.4995 39.624C25.3977 39.624 29.8277 37.5603 33 34.2495C32.804 29.6553 30.2138 25.705 26.464 23.624Z" fill="white"/>
        </svg>
      <% end %>
    <% end %>
  </div>

</div>








<!-- lewagon

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

-->
