<div class="navbar-container">

  <!-- Logo -->
  <div class="navbar-item">
    <%= link_to "/", class: "" do %>
      <svg width="43" height="40" viewBox="0 0 37 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.975625 32V31.52L1.93563 31.184C3.02363 30.832 3.56763 29.92 3.56763 28.448V3.872C3.56763 3.232 3.48763 2.72 3.32763 2.336C3.19963 1.952 2.83163 1.632 2.22363 1.376L0.975625 0.799998V0.319999H10.2396L19.1196 23.552L27.4716 0.319999H36.9276V0.799998L36.1596 1.088C35.5516 1.312 35.1356 1.632 34.9116 2.048C34.6876 2.432 34.5756 2.944 34.5756 3.584V28.688C34.5756 29.328 34.6556 29.824 34.8156 30.176C34.9756 30.528 35.3596 30.832 35.9676 31.088L36.9276 31.52V32H24.9756V31.52L25.9836 31.088C26.5916 30.832 26.9756 30.528 27.1356 30.176C27.2956 29.824 27.3756 29.328 27.3756 28.688V17.888L27.4716 4.16L17.4396 32H15.0396L4.57563 4.496L4.71963 16.448V28.544C4.71963 29.248 4.81563 29.824 5.00763 30.272C5.23163 30.688 5.64763 30.992 6.25563 31.184L7.31163 31.52V32H0.975625Z" fill="white"/>
      </svg>
    <% end %>
  </div>

  <!-- search -->
  <div class="navbar-item">
    <%= link_to journeys_path, class: "" do %>
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.07005 4.06934C9.49583 -1.35645 18.2947 -1.35645 23.7205 4.06934C28.8455 9.19432 29.1293 17.3273 24.5728 22.7862L26.5403 24.7547C27.2185 25.4319 28.5201 24.9467 30.3306 26.7572L39.2629 35.6895C40.2457 36.6723 40.2457 38.2803 39.2629 39.2631C38.2801 40.245 36.672 40.245 35.6902 39.2631L26.7579 30.3308C24.9464 28.5194 25.4326 27.2188 24.7544 26.5405L22.7869 24.573C17.3271 29.1295 9.19502 28.8457 4.07005 23.7208C-1.35668 18.294 -1.35668 9.49606 4.07005 4.06934V4.06934ZM5.67716 5.6774C1.13865 10.2159 1.13865 17.5742 5.67716 22.1127C10.2157 26.6512 17.574 26.6512 22.1125 22.1127C26.651 17.5742 26.651 10.2159 22.1125 5.6774C17.574 1.13888 10.2157 1.13888 5.67716 5.6774Z" fill="white"/>
      <path d="M8.89323 7.22116C8.50446 7.51534 7.9511 7.43872 7.65692 7.04995C7.36274 6.66212 7.43936 6.10876 7.82813 5.81458C9.37376 4.6511 11.1748 3.98991 13.0099 3.8291C14.8695 3.66735 16.767 4.01828 18.4706 4.8838C18.9048 5.10514 19.0779 5.6358 18.8566 6.07092C18.6352 6.5051 18.1036 6.67726 17.6695 6.45686C16.2657 5.74364 14.7012 5.45419 13.1659 5.58756C11.6496 5.71999 10.1645 6.26484 8.89323 7.22116V7.22116Z" fill="white"/>
      </svg>
    <% end %>
  </div>

  <!-- Bookmarks -->
  <div class="navbar-item">
    <%= link_to "/user_journeys", class: "" do %>
      <svg width="32" height="40" viewBox="0 0 32 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.92793 0C1.50901 0 0.315315 1.03604 0.0450444 2.38739C0.0225218 2.56757 0 2.74775 0 2.95045V37.0495C0 37.2297 0.0225218 37.4324 0.0450444 37.6126C0.315315 38.964 1.50901 40 2.92793 40H31.5991V0H2.92793ZM17.2748 1.12613H27.6126V22.2522L22.4324 26.1036L17.2522 22.2522V1.12613H17.2748ZM1.1036 2.95045C1.1036 2.74775 1.12613 2.56757 1.19369 2.38739C1.41892 1.64415 2.11712 1.12613 2.92793 1.12613H3.69369V34.1216H2.92793C2.22973 34.1216 1.5991 34.3694 1.1036 34.7522V2.95045ZM30.518 36.4865H4.27928V37.5901H30.518V38.8513H2.92793C2.11712 38.8513 1.41892 38.3108 1.19369 37.5901C1.12613 37.4099 1.1036 37.2297 1.1036 37.027C1.1036 36.8243 1.12613 36.6441 1.19369 36.464C1.41892 35.7207 2.11712 35.2027 2.92793 35.2027H30.4955V36.4865H30.518ZM30.518 34.1216H4.84234V1.12613H16.1486V22.8153L22.4324 27.5L28.7162 22.8153V1.12613H30.4955V34.1216H30.518Z" fill="white"/>
      <path d="M26.419 18.2657L23.6712 17.8603L22.455 15.3828L21.2163 17.8603L18.4685 18.2657L20.4505 20.2026L19.9775 22.9279L22.4325 21.6441L24.8874 22.9279L24.4145 20.2026L26.419 18.2657ZM22.4325 20.6981L21.0811 21.3963L21.3289 19.8873L20.2478 18.8288L21.7568 18.6035L22.4325 17.2297L23.1081 18.6035L24.6172 18.8288L23.5361 19.8873L23.7838 21.3963L22.4325 20.6981Z" fill="white"/>
      </svg>
    <% end %>
  </div>

  <!-- Logout if user signed in -->
  <div class="navbar-item">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "" do %>
        <svg width="44" height="40" viewBox="0 0 44 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 16.6043L4.5276 21.1319L0 25.6595L3.77454 29.434L12.0767 21.1319L3.77454 12.8298L0 16.6043ZM3.77454 27.2996L2.13444 25.6595L5.59483 22.1991L6.66205 21.1319L5.59483 20.0647L2.13444 16.6043L3.77454 14.9642L9.94225 21.1319L3.77454 27.2996ZM40.7531 0H16.6043C14.9411 0 13.5874 1.35366 13.5874 3.01686V29.4294L15.0982 28.6764V3.02148C15.0982 2.18988 15.7773 1.51074 16.6089 1.51074H40.7577C41.5893 1.51074 42.2684 2.18988 42.2684 3.02148V17.3574H41.1458L37.593 12.3909C37.4498 12.1922 37.2234 12.0767 36.9785 12.0767H24.1488C23.9131 12.0767 23.6868 12.1876 23.5435 12.377C23.5204 12.4093 21.2474 15.4401 19.7459 17.6946C19.1268 18.6232 19.076 19.4641 19.1453 20C19.2377 20.7346 19.6073 21.3721 20.1617 21.7417C21.0164 22.31 22.3054 22.2361 23.2663 20.7946L26.0614 16.6043H27.5167L24.9711 22.3331C24.948 22.3885 24.9295 22.444 24.9203 22.504L23.5251 30.1871H15.8559C14.6038 30.1871 12.839 31.356 12.839 33.9617C12.839 34.3775 13.1763 34.7147 13.5921 34.7147H24.9111C27.1656 34.7147 28.2282 32.8621 28.4685 31.9011L29.6373 27.7431L34.8025 38.0735C35.7635 40 36.9185 40 40.0046 40C40.2587 40 40.499 39.8706 40.6376 39.6535C40.7762 39.4364 40.7946 39.1684 40.6884 38.9328L33.2871 22.6565L35.6295 17.9718L38.6648 21.6124C38.808 21.7833 39.0206 21.885 39.2469 21.885H42.2638V39.9954H43.7745V3.02148C43.7699 1.35366 42.4163 0 40.7531 0ZM39.5934 20.3788L36.0453 16.1238C35.8836 15.9298 35.6295 15.8281 35.38 15.8559C35.1259 15.8836 34.9041 16.0407 34.7933 16.267L31.7764 22.3054C31.6748 22.5087 31.6701 22.7489 31.7625 22.9568L38.8219 38.48C36.8076 38.4477 36.5858 38.2767 36.1423 37.3943L30.1086 25.3222C29.97 25.045 29.6789 24.8695 29.3601 24.9111C29.0506 24.9388 28.7919 25.1559 28.7041 25.4562L27.0039 31.5131C26.9854 31.5824 26.5604 33.204 24.9064 33.204H14.4144C14.6824 31.9704 15.5787 31.6932 15.8512 31.6932H24.1488C24.5137 31.6932 24.8279 31.4345 24.8926 31.0742L26.3848 22.8644L29.3647 16.1562C29.4664 15.9205 29.4479 15.6526 29.3093 15.4401C29.1707 15.2275 28.9305 15.0982 28.6764 15.0982H25.6595C25.4054 15.0982 25.1698 15.2229 25.0312 15.4354L22.0143 19.963C21.885 20.1571 21.423 20.7715 21.0025 20.4897C20.6376 20.2495 20.3881 19.4595 21.0025 18.5355C22.2084 16.729 23.9178 14.4098 24.5276 13.5874H36.5904L40.1386 18.5539C40.2818 18.7526 40.5082 18.8681 40.7531 18.8681H42.2638V20.3788H39.5934ZM38.4846 7.92793C38.4846 6.05221 36.9647 4.53222 35.0889 4.53222C33.2132 4.53222 31.6932 6.05221 31.6932 7.92793C31.6932 9.80365 33.2132 11.3236 35.0889 11.3236C36.9647 11.3236 38.4846 9.80365 38.4846 7.92793ZM33.204 7.92793C33.204 6.88843 34.0494 6.04297 35.0889 6.04297C36.1284 6.04297 36.9739 6.88843 36.9739 7.92793C36.9739 8.96743 36.1284 9.81289 35.0889 9.81289C34.0494 9.81289 33.204 8.96743 33.204 7.92793ZM33.204 38.4893L33.957 40H14.3405C13.9247 40 13.5874 39.6627 13.5874 39.2469V36.2301H15.0982V38.4939H33.204V38.4893Z" fill="white"/>
        </svg>
      <% end %>

    <!-- Login if user not signed in -->
    <% else %>
      <%= link_to new_user_session_path, class: "" do %>
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 0C8.972 0 0 8.972 0 20C0 31.028 8.972 40 20 40C31.028 40 40 31.028 40 20C40 8.972 31.028 0 20 0ZM20 38.4609C9.82089 38.4609 1.53911 30.1791 1.53911 20C1.53911 9.82089 9.82089 1.53911 20 1.53911C30.1791 1.53911 38.4609 9.82089 38.4609 20C38.4609 30.1791 30.1791 38.4609 20 38.4609Z" fill="white"/>
        <path d="M20.5014 24.1311C24.9652 24.1311 28 20.672 28 16.4058C28 12.1387 24.9652 8.68091 20.5014 8.68091C16.0348 8.68091 13 12.1387 13 16.4058C13 20.672 16.0348 24.1311 20.5014 24.1311Z" fill="white"/>
        <path d="M26.464 23.624C24.8874 25.0607 22.8236 25.9099 20.5005 25.9099C18.1764 25.9099 16.1112 25.0607 14.5347 23.624C10.7848 25.705 8.19604 29.6553 8 34.249C11.1714 37.5603 15.6014 39.624 20.4995 39.624C25.3977 39.624 29.8277 37.5603 33 34.2495C32.804 29.6553 30.2138 25.705 26.464 23.624Z" fill="white"/>
        </svg>
      <% end %>
    <% end %>
  </div>

</div>
