<!-- Partial for cards in vertical display -->

<div class="cards-container-vertical">
  <% data.each do |journey| %>

    <% if @all_journeys_topic[journey] == "Photographie" %>
      <%= link_to journey_path(journey), class: "card-photo" do %>
        <h4><%= journey.name %></h4>
        <p><%= "#{journey.summary.split.first(4).join(" ")}..." %></p>
      <% end %>
    <% end %>

    <% if @all_journeys_topic[journey] == "Art" %>
      <%= link_to journey_path(journey), class: "card-art" do %>
        <h4><%= journey.name %></h4>
        <p><%= "#{journey.summary.split.first(4).join(" ")}..." %></p>
      <% end %>
    <% end %>

    <% if @all_journeys_topic[journey] == "Architecture" %>
      <%= link_to journey_path(journey), class: "card-architecture" do %>
        <h4><%= journey.name %></h4>
        <p><%= "#{journey.summary.split.first(4).join(" ")}..." %></p>
      <% end %>
    <% end %>

    <% if @all_journeys_topic[journey] == "Musique" %>
      <%= link_to journey_path(journey), class: "card-music" do %>
        <h4><%= journey.name %></h4>
        <p><%= "#{journey.summary.split.first(4).join(" ")}..." %></p>
      <% end %>
    <% end %>

  <% end %>
</div>
