<!-- card journeys -->
<div class="content">
  <div class="content-title">
    <h3>Explorer les thèmes</h3>
  </div>
  <div class="div-test">
    <%= link_to '#Peinture', '#', class: "btn-topic-disabled" %>
    <%= link_to '#Histoire', '#', class: "btn-topic-disabled btn-active" %>
    <%= link_to '#Pop Art', '#', class: "btn-topic-disabled" %>
    <%= link_to '#Peinture', '#', class: "btn-topic-disabled" %>
    <%= link_to '#Histoire', '#', class: "btn-topic-disabled" %>
    <%= link_to '#Pop Art', '#', class: "btn-topic-disabled" %>
</div>

  <div class="content-title">
    <h3>Explorer les parcours</h3>
  </div>
  <div class="cards-container">
    <div class="card-journey">
      <div class="bg">
        <div class="card-icone"></div>
        <h4>Renaissance</h4>
        <p>Description brève du contenu</p>
      </div>
    </div>
    <div class="card-journey">
      <div class="bg">
        <div class="card-icone"></div>
        <h4>Renaissance</h4>
        <p>Description brève du contenu</p>
      </div>
    </div>
    <div class="card-journey">
      <div class="bg">
        <div class="card-icone"></div>
        <h4>Renaissance</h4>
        <p>Description brève du contenu</p>
      </div>
    </div>
  </div>
</div>
<!-- bloc demarrer le parcours avec nombre de contenus -->
<div class="container">
  <section>
    <div class="content-journey">
      <div class="card-content">
        <svg width="42" height="29" viewBox="0 0 42 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M40.1358 1.39028H36.8902C31.6332 -0.463428 25.9192 -0.463428 20.6622 1.39028H20.4336C15.1766 -0.463428 9.46255 -0.463428 4.20558 1.39028H1.00568C0.457128 1.39028 0 1.85371 0 2.40983V26.8788C0 27.4349 0.457128 27.8057 1.00568 27.8057H18.6051C19.0622 28.2691 19.7479 28.5472 20.5708 28.5472C21.3936 28.5472 22.0793 28.2691 22.5364 27.8057H40.1358C40.6844 27.8057 41.1415 27.4349 41.1415 26.8788V2.40983C41.1415 1.85371 40.6844 1.39028 40.1358 1.39028ZM36.5702 25.3495C31.0847 23.5885 26.0563 23.5885 21.0279 25.3495V2.45617C26.0563 0.556113 31.0847 0.556113 36.5702 2.45617V25.3495ZM20.1136 25.3495C17.3709 24.469 14.9024 24.0056 12.3425 24.0056C9.78254 24.0056 7.31405 24.469 4.57128 25.3495V2.45617C10.0568 0.556113 15.0852 0.556113 20.1136 2.45617V25.3495ZM19.7936 26.4154H4.89127C9.73682 24.5617 14.9481 24.5617 19.7936 26.4154ZM36.2502 26.4154H21.3479C26.1477 24.5617 31.4047 24.5617 36.2502 26.4154ZM1.37138 2.78057H3.65702V26.4154H1.37138V2.78057ZM39.7701 26.4154H37.4845V2.78057H39.7701V26.4154Z" fill="#88FF5F"/>
          <path d="M17.6451 5.65385C14.2167 4.26357 10.4225 4.26357 6.99407 5.65385C6.7655 5.74654 6.67408 5.97825 6.7655 6.20996C6.85693 6.44168 7.08549 6.53436 7.31406 6.44168C10.5597 5.14408 14.1253 5.14408 17.3252 6.44168C17.3709 6.44168 17.4166 6.48802 17.4623 6.48802C17.6451 6.48802 17.7823 6.39534 17.828 6.20996C17.9651 6.02459 17.8737 5.74654 17.6451 5.65385Z" fill="#88FF5F"/>
          <path d="M17.6451 9.17585C14.2167 7.78557 10.4225 7.78557 6.99407 9.17585C6.7655 9.26854 6.67408 9.50025 6.7655 9.73196C6.85693 9.96368 7.08549 10.0564 7.31406 9.96368C10.5597 8.66608 14.1253 8.66608 17.3252 9.96368C17.3709 9.96368 17.4166 10.01 17.4623 10.01C17.6451 10.01 17.7823 9.91733 17.828 9.73196C17.9651 9.54659 17.8737 9.26854 17.6451 9.17585Z" fill="#88FF5F"/>
          <path d="M17.6451 12.6979C14.2167 11.3076 10.4225 11.3076 6.99407 12.6979C6.7655 12.7906 6.67408 13.0223 6.7655 13.254C6.85693 13.4857 7.08549 13.5784 7.31406 13.4857C10.5597 12.1881 14.1253 12.1881 17.3252 13.4857C17.3709 13.4857 17.4166 13.5321 17.4623 13.5321C17.6451 13.5321 17.7823 13.4394 17.828 13.254C17.9651 13.0687 17.8737 12.7906 17.6451 12.6979Z" fill="#88FF5F"/>
          <path d="M17.6451 19.742C14.2167 18.3518 10.4225 18.3518 6.99407 19.742C6.7655 19.8347 6.67408 20.0664 6.7655 20.2982C6.85693 20.5299 7.08549 20.6226 7.31406 20.5299C10.5597 19.2323 14.1253 19.2323 17.3252 20.5299C17.3709 20.5299 17.4166 20.5762 17.4623 20.5762C17.6451 20.5762 17.7823 20.4835 17.828 20.2982C17.9651 20.0664 17.8737 19.8347 17.6451 19.742Z" fill="#88FF5F"/>
          <path d="M17.6451 16.22C14.2167 14.8297 10.4225 14.8297 6.99407 16.22C6.7655 16.3127 6.67408 16.5444 6.7655 16.7761C6.85693 17.0078 7.08549 17.1005 7.31406 17.0078C10.5597 15.7102 14.1253 15.7102 17.3252 17.0078C17.3709 17.0078 17.4166 17.0542 17.4623 17.0542C17.6451 17.0542 17.7823 16.9615 17.828 16.7761C17.9651 16.5907 17.8737 16.3127 17.6451 16.22Z" fill="#88FF5F"/>
          <path d="M34.1017 5.65385C30.6732 4.26357 26.8791 4.26357 23.4506 5.65385C23.222 5.74654 23.1306 5.97825 23.222 6.20996C23.3135 6.44168 23.542 6.53436 23.7706 6.44168C27.0162 5.14408 30.5818 5.14408 33.7817 6.44168C33.8274 6.44168 33.8731 6.48802 33.9188 6.48802C34.1017 6.48802 34.2388 6.39534 34.2845 6.20996C34.4217 6.02459 34.3303 5.74654 34.1017 5.65385Z" fill="#88FF5F"/>
          <path d="M34.1017 9.17585C30.6732 7.78557 26.8791 7.78557 23.4506 9.17585C23.222 9.26854 23.1306 9.50025 23.222 9.73196C23.3135 9.96368 23.542 10.0564 23.7706 9.96368C27.0162 8.66608 30.5818 8.66608 33.7817 9.96368C33.8274 9.96368 33.8731 10.01 33.9188 10.01C34.1017 10.01 34.2388 9.91733 34.2845 9.73196C34.4217 9.54659 34.3303 9.26854 34.1017 9.17585Z" fill="#88FF5F"/>
          <path d="M34.1017 12.6979C30.6732 11.3076 26.8791 11.3076 23.4506 12.6979C23.222 12.7906 23.1306 13.0223 23.222 13.254C23.3135 13.4857 23.542 13.5784 23.7706 13.4857C27.0162 12.1881 30.5818 12.1881 33.7817 13.4857C33.8274 13.4857 33.8731 13.5321 33.9188 13.5321C34.1017 13.5321 34.2388 13.4394 34.2845 13.254C34.4217 13.0687 34.3303 12.7906 34.1017 12.6979Z" fill="#88FF5F"/>
          <path d="M34.1017 19.742C30.6732 18.3518 26.8791 18.3518 23.4506 19.742C23.222 19.8347 23.1306 20.0664 23.222 20.2982C23.3135 20.5299 23.542 20.6226 23.7706 20.5299C27.0162 19.2323 30.5818 19.2323 33.7817 20.5299C33.8274 20.5299 33.8731 20.5762 33.9188 20.5762C34.1017 20.5762 34.2388 20.4835 34.2845 20.2982C34.4217 20.0664 34.3303 19.8347 34.1017 19.742Z" fill="#88FF5F"/>
          <path d="M34.1017 16.22C30.6732 14.8297 26.8791 14.8297 23.4506 16.22C23.222 16.3127 23.1306 16.5444 23.222 16.7761C23.3135 17.0078 23.542 17.1005 23.7706 17.0078C27.0162 15.7102 30.5818 15.7102 33.7817 17.0078C33.8274 17.0078 33.8731 17.0542 33.9188 17.0542C34.1017 17.0542 34.2388 16.9615 34.2845 16.7761C34.4217 16.5907 34.3303 16.3127 34.1017 16.22Z" fill="#88FF5F"/>
        </svg>
        <div class="counter">
          <p>3</p>
        </div>
      </div>

      <div class="card-content">
        <svg width="30" height="39" viewBox="0 0 30 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.6979 23.3159C13.2069 23.3159 11.1824 25.3378 11.1824 27.8258C11.1824 30.3137 13.2069 32.3357 15.6979 32.3357C18.189 32.3357 20.2134 30.3137 20.2134 27.8258C20.2134 25.3378 18.189 23.3159 15.6979 23.3159ZM15.6979 31.3879C13.7288 31.3879 12.1313 29.7924 12.1313 27.8258C12.1313 25.8591 13.7288 24.2637 15.6979 24.2637C17.667 24.2637 19.2645 25.8591 19.2645 27.8258C19.2645 29.7845 17.667 31.3879 15.6979 31.3879Z" fill="#FFF96A"/>
          <path d="M17.7462 27.4151L15.0891 25.8828C14.9388 25.7959 14.7648 25.7959 14.6146 25.8828C14.4643 25.9697 14.3773 26.1277 14.3773 26.2935V29.3659C14.3773 29.5318 14.4643 29.6898 14.6146 29.7766C14.6857 29.8161 14.7727 29.8398 14.8518 29.8398C14.9309 29.8398 15.0179 29.8161 15.0891 29.7766L17.7541 28.2444C17.9043 28.1575 17.9913 27.9995 17.9913 27.8337C17.9834 27.652 17.8964 27.502 17.7462 27.4151ZM15.3263 28.5366V27.107L16.5679 27.8179L15.3263 28.5366Z" fill="#FFF96A"/>
          <path d="M18.9007 36.5691C18.9007 36.3085 18.6872 36.0953 18.4262 36.0953H8.1615C7.90053 36.0953 7.68701 36.3085 7.68701 36.5691C7.68701 36.8298 7.90053 37.043 8.1615 37.043H18.4262C18.6951 37.043 18.9007 36.8298 18.9007 36.5691Z" fill="#FFF96A"/>
          <path d="M23.2343 37.6749H12.9696C12.7086 37.6749 12.4951 37.8881 12.4951 38.1488C12.4951 38.4094 12.7086 38.6227 12.9696 38.6227H23.2343C23.4953 38.6227 23.7088 38.4094 23.7088 38.1488C23.7088 37.8881 23.4953 37.6749 23.2343 37.6749Z" fill="#FFF96A"/>
          <path d="M28.9123 14.6672H5.4173V14.5251L15.1364 10.8129C15.1522 10.805 15.168 10.7971 15.1917 10.7892L19.2011 9.25696C19.2091 9.25696 19.217 9.24907 19.2249 9.24907L23.258 7.70891C23.2659 7.70891 23.2738 7.70101 23.2896 7.70101L27.3544 6.15296C27.5996 6.05818 27.7182 5.78175 27.6312 5.5448L25.6067 0.300378C25.5593 0.181905 25.4723 0.0871262 25.3537 0.0397368C25.235 -0.00765252 25.1085 -0.0155508 24.9899 0.0318386L4.38925 7.89847C4.37343 7.90637 4.35762 7.90637 4.34971 7.91427L0.300754 9.46232C0.182133 9.50971 0.0872352 9.59659 0.0397865 9.71506C-0.00766219 9.83353 -0.0155702 9.95991 0.0318785 10.0784L2.00891 15.2438V17.6844V20.7726V34.9025C2.00891 35.1631 2.22243 35.3764 2.48339 35.3764H28.9123C29.1733 35.3764 29.3868 35.1631 29.3868 34.9025V20.7647V15.149C29.3868 14.8805 29.1733 14.6672 28.9123 14.6672ZM21.1307 20.2908L24.4442 15.6229H27.6233L24.3098 20.2908H21.1307ZM16.7971 20.2908L20.1106 15.6229H23.2896L19.9761 20.2908H16.7971ZM12.4476 20.2908L15.7611 15.6229H18.9402L15.6267 20.2908H12.4476ZM8.11397 20.2908L11.4275 15.6229H14.6065L11.293 20.2908H8.11397ZM3.77242 20.2908L7.08592 15.6229H10.265L6.95148 20.2908H3.77242ZM3.96221 11.0578C3.97012 11.0578 3.97012 11.0578 3.96221 11.0578H4.46833V14.2013V15.1411V17.1947H2.95788V15.1411V11.0578H3.96221ZM2.95788 18.1425H4.12828L2.95788 19.7932V18.1425ZM28.4378 16.1126V20.2908H25.4723L28.4378 16.1126ZM5.92342 15.615L5.4173 16.3259V15.615H5.92342ZM5.4173 10.5839C5.4173 10.3232 5.20378 10.11 4.94282 10.11H4.57904L4.94282 8.69619L7.91627 7.55885L6.4849 13.1034L5.4173 13.5141V10.5839ZM11.9652 6.01869L10.5418 11.5632L7.57622 12.7006L8.99968 7.14814L11.9652 6.01869ZM16.0221 4.47064L14.5986 10.0152L11.6252 11.1525L13.0486 5.60798L16.0221 4.47064ZM20.0789 2.92259L18.6555 8.46714L15.682 9.59659L17.1055 4.05203L20.0789 2.92259ZM24.1358 1.37454L22.7123 6.91909L19.7389 8.05643L21.1624 2.51188L24.1358 1.37454ZM26.5557 5.44212L23.7879 6.50048L25.0611 1.5483L26.5557 5.44212ZM1.08366 10.1732L3.8515 9.1148L3.59053 10.1179H2.47549C2.21452 10.1179 2.001 10.3311 2.001 10.5918V12.5821L1.08366 10.1732ZM2.95788 34.4128V21.2386H28.4378V34.4207H2.95788V34.4128Z" fill="#FFF96A"/>
        </svg>
        <div class="counter">
          <p>3</p>
        </div>
      </div>

      <div class="card-content">
        <svg width="42" height="28" viewBox="0 0 42 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.3847 0H13.5964C6.0919 0 0 6.2072 0 13.8538C0 21.5003 6.0919 27.7075 13.5964 27.7075H28.3847C35.8892 27.7075 41.9811 21.5003 41.9811 13.8538C41.9811 6.2072 35.8892 0 28.3847 0ZM28.3847 25.7734H13.5964C7.15136 25.7734 1.8982 20.4208 1.8982 13.8538C1.8982 7.28671 7.15136 1.93412 13.5964 1.93412H28.3847C34.8298 1.93412 40.0829 7.28671 40.0829 13.8538C40.0829 20.4208 34.8298 25.7734 28.3847 25.7734Z" fill="#FF6460"/>
          <path d="M26.7514 12.0995L18.9379 7.1068C18.3199 6.70199 17.5253 6.702 16.9073 7.06184C16.2451 7.42167 15.8478 8.09637 15.8478 8.86103V18.8015C15.8478 19.5662 16.2451 20.2409 16.9073 20.6007C17.2163 20.7807 17.5694 20.8706 17.8784 20.8706C18.2316 20.8706 18.6289 20.7807 18.9379 20.5558L26.7514 15.563C27.3253 15.2032 27.6784 14.5285 27.6784 13.8088C27.6784 13.1341 27.3253 12.5044 26.7514 12.0995ZM25.7361 13.9437L17.9226 18.9365C17.9226 18.9365 17.8784 18.9815 17.7901 18.9365C17.746 18.8915 17.746 18.8465 17.746 18.8465V8.90599C17.746 8.90599 17.746 8.81603 17.7901 8.81603C17.8343 8.81603 17.8343 8.81603 17.8343 8.81603C17.8784 8.81603 17.8784 8.81603 17.8784 8.81603L25.6919 13.8088C25.6919 13.8088 25.7361 13.8538 25.7361 13.8987C25.7802 13.9437 25.7361 13.9437 25.7361 13.9437Z" fill="#FF6460"/>
        </svg>
        <div class="counter">
          <p>3</p>
        </div>
      </div>

      <div class="card-content">
        <svg width="42" height="29" viewBox="0 0 42 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M40.1358 1.39028H36.8902C31.6332 -0.463428 25.9192 -0.463428 20.6622 1.39028H20.4336C15.1766 -0.463428 9.46255 -0.463428 4.20558 1.39028H1.00568C0.457128 1.39028 0 1.85371 0 2.40983V26.8788C0 27.4349 0.457128 27.8057 1.00568 27.8057H18.6051C19.0622 28.2691 19.7479 28.5472 20.5708 28.5472C21.3936 28.5472 22.0793 28.2691 22.5364 27.8057H40.1358C40.6844 27.8057 41.1415 27.4349 41.1415 26.8788V2.40983C41.1415 1.85371 40.6844 1.39028 40.1358 1.39028ZM36.5702 25.3495C31.0847 23.5885 26.0563 23.5885 21.0279 25.3495V2.45617C26.0563 0.556113 31.0847 0.556113 36.5702 2.45617V25.3495ZM20.1136 25.3495C17.3709 24.469 14.9024 24.0056 12.3425 24.0056C9.78254 24.0056 7.31405 24.469 4.57128 25.3495V2.45617C10.0568 0.556113 15.0852 0.556113 20.1136 2.45617V25.3495ZM19.7936 26.4154H4.89127C9.73682 24.5617 14.9481 24.5617 19.7936 26.4154ZM36.2502 26.4154H21.3479C26.1477 24.5617 31.4047 24.5617 36.2502 26.4154ZM1.37138 2.78057H3.65702V26.4154H1.37138V2.78057ZM39.7701 26.4154H37.4845V2.78057H39.7701V26.4154Z" fill="#85D8FB"/>
          <path d="M17.6451 5.65385C14.2167 4.26357 10.4225 4.26357 6.99407 5.65385C6.7655 5.74654 6.67408 5.97825 6.7655 6.20996C6.85693 6.44168 7.08549 6.53436 7.31406 6.44168C10.5597 5.14408 14.1253 5.14408 17.3252 6.44168C17.3709 6.44168 17.4166 6.48802 17.4623 6.48802C17.6451 6.48802 17.7823 6.39534 17.828 6.20996C17.9651 6.02459 17.8737 5.74654 17.6451 5.65385Z" fill="#85D8FB"/>
          <path d="M17.6451 9.17585C14.2167 7.78556 10.4225 7.78556 6.99407 9.17585C6.7655 9.26853 6.67408 9.50025 6.7655 9.73196C6.85693 9.96367 7.08549 10.0564 7.31406 9.96367C10.5597 8.66608 14.1253 8.66608 17.3252 9.96367C17.3709 9.96367 17.4166 10.01 17.4623 10.01C17.6451 10.01 17.7823 9.91733 17.828 9.73196C17.9651 9.54659 17.8737 9.26853 17.6451 9.17585Z" fill="#85D8FB"/>
          <path d="M17.6451 12.6979C14.2167 11.3076 10.4225 11.3076 6.99407 12.6979C6.7655 12.7906 6.67408 13.0223 6.7655 13.254C6.85693 13.4857 7.08549 13.5784 7.31406 13.4857C10.5597 12.1881 14.1253 12.1881 17.3252 13.4857C17.3709 13.4857 17.4166 13.5321 17.4623 13.5321C17.6451 13.5321 17.7823 13.4394 17.828 13.254C17.9651 13.0687 17.8737 12.7906 17.6451 12.6979Z" fill="#85D8FB"/>
          <path d="M17.6451 19.742C14.2167 18.3518 10.4225 18.3518 6.99407 19.742C6.7655 19.8347 6.67408 20.0664 6.7655 20.2982C6.85693 20.5299 7.08549 20.6226 7.31406 20.5299C10.5597 19.2323 14.1253 19.2323 17.3252 20.5299C17.3709 20.5299 17.4166 20.5762 17.4623 20.5762C17.6451 20.5762 17.7823 20.4835 17.828 20.2982C17.9651 20.0664 17.8737 19.8347 17.6451 19.742Z" fill="#85D8FB"/>
          <path d="M17.6451 16.22C14.2167 14.8297 10.4225 14.8297 6.99407 16.22C6.7655 16.3127 6.67408 16.5444 6.7655 16.7761C6.85693 17.0078 7.08549 17.1005 7.31406 17.0078C10.5597 15.7102 14.1253 15.7102 17.3252 17.0078C17.3709 17.0078 17.4166 17.0542 17.4623 17.0542C17.6451 17.0542 17.7823 16.9615 17.828 16.7761C17.9651 16.5907 17.8737 16.3127 17.6451 16.22Z" fill="#85D8FB"/>
          <path d="M34.1017 5.65385C30.6732 4.26357 26.8791 4.26357 23.4506 5.65385C23.222 5.74654 23.1306 5.97825 23.222 6.20996C23.3135 6.44168 23.542 6.53436 23.7706 6.44168C27.0162 5.14408 30.5818 5.14408 33.7817 6.44168C33.8274 6.44168 33.8731 6.48802 33.9188 6.48802C34.1017 6.48802 34.2388 6.39534 34.2845 6.20996C34.4217 6.02459 34.3303 5.74654 34.1017 5.65385Z" fill="#85D8FB"/>
          <path d="M34.1017 9.17585C30.6732 7.78556 26.8791 7.78556 23.4506 9.17585C23.222 9.26853 23.1306 9.50025 23.222 9.73196C23.3135 9.96367 23.542 10.0564 23.7706 9.96367C27.0162 8.66608 30.5818 8.66608 33.7817 9.96367C33.8274 9.96367 33.8731 10.01 33.9188 10.01C34.1017 10.01 34.2388 9.91733 34.2845 9.73196C34.4217 9.54659 34.3303 9.26853 34.1017 9.17585Z" fill="#85D8FB"/>
          <path d="M34.1017 12.6979C30.6732 11.3076 26.8791 11.3076 23.4506 12.6979C23.222 12.7906 23.1306 13.0223 23.222 13.254C23.3135 13.4857 23.542 13.5784 23.7706 13.4857C27.0162 12.1881 30.5818 12.1881 33.7817 13.4857C33.8274 13.4857 33.8731 13.5321 33.9188 13.5321C34.1017 13.5321 34.2388 13.4394 34.2845 13.254C34.4217 13.0687 34.3303 12.7906 34.1017 12.6979Z" fill="#85D8FB"/>
          <path d="M34.1017 19.742C30.6732 18.3518 26.8791 18.3518 23.4506 19.742C23.222 19.8347 23.1306 20.0664 23.222 20.2982C23.3135 20.5299 23.542 20.6226 23.7706 20.5299C27.0162 19.2323 30.5818 19.2323 33.7817 20.5299C33.8274 20.5299 33.8731 20.5762 33.9188 20.5762C34.1017 20.5762 34.2388 20.4835 34.2845 20.2982C34.4217 20.0664 34.3303 19.8347 34.1017 19.742Z" fill="#85D8FB"/>
          <path d="M34.1017 16.22C30.6732 14.8297 26.8791 14.8297 23.4506 16.22C23.222 16.3127 23.1306 16.5444 23.222 16.7761C23.3135 17.0078 23.542 17.1005 23.7706 17.0078C27.0162 15.7102 30.5818 15.7102 33.7817 17.0078C33.8274 17.0078 33.8731 17.0542 33.9188 17.0542C34.1017 17.0542 34.2388 16.9615 34.2845 16.7761C34.4217 16.5907 34.3303 16.3127 34.1017 16.22Z" fill="#85D8FB"/>
        </svg>
        <div class="counter">
          <p>3</p>
        </div>
      </div>

      <div class="card-content">
        <svg width="30" height="39" viewBox="0 0 30 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.6979 23.3159C13.2069 23.3159 11.1824 25.3378 11.1824 27.8258C11.1824 30.3137 13.2069 32.3357 15.6979 32.3357C18.189 32.3357 20.2134 30.3137 20.2134 27.8258C20.2134 25.3378 18.189 23.3159 15.6979 23.3159ZM15.6979 31.3879C13.7288 31.3879 12.1313 29.7924 12.1313 27.8258C12.1313 25.8591 13.7288 24.2637 15.6979 24.2637C17.667 24.2637 19.2645 25.8591 19.2645 27.8258C19.2645 29.7845 17.667 31.3879 15.6979 31.3879Z" fill="#CE85FB"/>
          <path d="M17.7462 27.4151L15.0891 25.8828C14.9388 25.7959 14.7648 25.7959 14.6146 25.8828C14.4643 25.9697 14.3773 26.1277 14.3773 26.2935V29.3659C14.3773 29.5318 14.4643 29.6898 14.6146 29.7766C14.6857 29.8161 14.7727 29.8398 14.8518 29.8398C14.9309 29.8398 15.0179 29.8161 15.0891 29.7766L17.7541 28.2444C17.9043 28.1575 17.9913 27.9995 17.9913 27.8337C17.9834 27.652 17.8964 27.502 17.7462 27.4151ZM15.3263 28.5366V27.107L16.5679 27.8179L15.3263 28.5366Z" fill="#CE85FB"/>
          <path d="M18.9007 36.5691C18.9007 36.3085 18.6872 36.0953 18.4262 36.0953H8.1615C7.90053 36.0953 7.68701 36.3085 7.68701 36.5691C7.68701 36.8298 7.90053 37.043 8.1615 37.043H18.4262C18.6951 37.043 18.9007 36.8298 18.9007 36.5691Z" fill="#CE85FB"/>
          <path d="M23.2343 37.6749H12.9696C12.7086 37.6749 12.4951 37.8881 12.4951 38.1488C12.4951 38.4094 12.7086 38.6227 12.9696 38.6227H23.2343C23.4953 38.6227 23.7088 38.4094 23.7088 38.1488C23.7088 37.8881 23.4953 37.6749 23.2343 37.6749Z" fill="#CE85FB"/>
          <path d="M28.9123 14.6672H5.4173V14.5251L15.1364 10.8129C15.1522 10.805 15.168 10.7971 15.1917 10.7892L19.2011 9.25696C19.2091 9.25696 19.217 9.24907 19.2249 9.24907L23.258 7.70891C23.2659 7.70891 23.2738 7.70101 23.2896 7.70101L27.3544 6.15296C27.5996 6.05818 27.7182 5.78175 27.6312 5.5448L25.6067 0.300378C25.5593 0.181905 25.4723 0.0871262 25.3537 0.0397368C25.235 -0.00765252 25.1085 -0.0155508 24.9899 0.0318386L4.38925 7.89847C4.37343 7.90637 4.35762 7.90637 4.34971 7.91427L0.300754 9.46232C0.182133 9.50971 0.0872352 9.59659 0.0397865 9.71506C-0.00766219 9.83354 -0.0155702 9.95991 0.0318785 10.0784L2.00891 15.2438V17.6844V20.7726V34.9025C2.00891 35.1631 2.22243 35.3764 2.48339 35.3764H28.9123C29.1733 35.3764 29.3868 35.1631 29.3868 34.9025V20.7647V15.149C29.3868 14.8805 29.1733 14.6672 28.9123 14.6672ZM21.1307 20.2908L24.4442 15.6229H27.6233L24.3098 20.2908H21.1307ZM16.7971 20.2908L20.1106 15.6229H23.2896L19.9761 20.2908H16.7971ZM12.4476 20.2908L15.7611 15.6229H18.9402L15.6267 20.2908H12.4476ZM8.11397 20.2908L11.4275 15.6229H14.6065L11.293 20.2908H8.11397ZM3.77242 20.2908L7.08592 15.6229H10.265L6.95148 20.2908H3.77242ZM3.96221 11.0578C3.97012 11.0578 3.97012 11.0578 3.96221 11.0578H4.46833V14.2013V15.1411V17.1947H2.95788V15.1411V11.0578H3.96221ZM2.95788 18.1425H4.12828L2.95788 19.7932V18.1425ZM28.4378 16.1126V20.2908H25.4723L28.4378 16.1126ZM5.92342 15.615L5.4173 16.3259V15.615H5.92342ZM5.4173 10.5839C5.4173 10.3232 5.20378 10.11 4.94282 10.11H4.57904L4.94282 8.69619L7.91627 7.55885L6.4849 13.1034L5.4173 13.5141V10.5839ZM11.9652 6.01869L10.5418 11.5632L7.57622 12.7006L8.99968 7.14814L11.9652 6.01869ZM16.0221 4.47064L14.5986 10.0152L11.6252 11.1525L13.0486 5.60799L16.0221 4.47064ZM20.0789 2.92259L18.6555 8.46714L15.682 9.59659L17.1055 4.05203L20.0789 2.92259ZM24.1358 1.37454L22.7123 6.91909L19.7389 8.05643L21.1624 2.51188L24.1358 1.37454ZM26.5557 5.44212L23.7878 6.50048L25.0611 1.5483L26.5557 5.44212ZM1.08366 10.1732L3.8515 9.1148L3.59053 10.1179H2.47549C2.21452 10.1179 2.001 10.3311 2.001 10.5918V12.5821L1.08366 10.1732ZM2.95788 34.4128V21.2386H28.4378V34.4207H2.95788V34.4128Z" fill="#CE85FB"/>
        </svg>
        <div class="counter">
          <p>3</p>
        </div>
      </div>

      <div class="card-content">
        <svg width="42" height="28" viewBox="0 0 42 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.3847 0H13.5964C6.0919 0 0 6.2072 0 13.8538C0 21.5003 6.0919 27.7075 13.5964 27.7075H28.3847C35.8892 27.7075 41.9811 21.5003 41.9811 13.8538C41.9811 6.2072 35.8892 0 28.3847 0ZM28.3847 25.7734H13.5964C7.15136 25.7734 1.8982 20.4208 1.8982 13.8538C1.8982 7.28672 7.15136 1.93412 13.5964 1.93412H28.3847C34.8298 1.93412 40.0829 7.28672 40.0829 13.8538C40.0829 20.4208 34.8298 25.7734 28.3847 25.7734Z" fill="#FF42CA"/>
          <path d="M26.7514 12.0995L18.9379 7.1068C18.3199 6.70199 17.5253 6.702 16.9073 7.06183C16.2451 7.42167 15.8478 8.09637 15.8478 8.86103V18.8015C15.8478 19.5662 16.2451 20.2409 16.9073 20.6007C17.2163 20.7807 17.5694 20.8706 17.8784 20.8706C18.2316 20.8706 18.6289 20.7807 18.9379 20.5558L26.7514 15.563C27.3253 15.2032 27.6784 14.5285 27.6784 13.8088C27.6784 13.1341 27.3253 12.5044 26.7514 12.0995ZM25.7361 13.9437L17.9226 18.9365C17.9226 18.9365 17.8784 18.9815 17.7901 18.9365C17.746 18.8915 17.746 18.8465 17.746 18.8465V8.90599C17.746 8.90599 17.746 8.81603 17.7901 8.81603C17.8343 8.81603 17.8343 8.81603 17.8343 8.81603C17.8784 8.81603 17.8784 8.81603 17.8784 8.81603L25.6919 13.8088C25.6919 13.8088 25.7361 13.8538 25.7361 13.8987C25.7802 13.9437 25.7361 13.9437 25.7361 13.9437Z" fill="#FF42CA"/>
        </svg>
        <div class="counter">
          <p>3</p>
        </div>
      </div>

    </div>
    <div class="start">
      <%= link_to "Découvrir", '#', class: "btn-start" %>
    </div>
  </section>
</div>

<!-- journey show content -->

<div class="journey-show">
  <div class="show-content mt-5">
    <div class="number">
      <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="7.96625" y="-4.21726" width="60" height="60" rx="30" transform="rotate(11.8007 7.96625 -4.21726)" stroke="#FFF96A" stroke-width="2"/>
      </svg>
    </div>
    <div class="bloc-content">
      <div class="tag-topic movie mb-2">FILM</div>
      <div class="bloc-title">
        <p>Tous les matins du monde</p>
        <p>Alain Corneau</p>
      </div>
        <%= link_to "Découvrir" %>
    </div>
  </div>
  <div class="show-content">
    <div class="number">
      <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="7.96625" y="-4.21726" width="60" height="60" rx="30" transform="rotate(11.8007 7.96625 -4.21726)" stroke="#FFF96A" stroke-width="2"/>
      </svg>
    </div>
    <div class="icon-topic-theatre">
      <svg width="121" height="88" viewBox="0 0 141 108" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M104.912 13.7244L79.0342 15.4576L77.036 4.71419L66.0346 9.77283C54.4979 15.1171 42.1826 18.3691 29.4425 19.4586C23.886 19.9338 18.2923 19.9724 12.7439 19.6073L0.634683 18.7238L8.02239 58.8307C8.07905 59.0258 8.09941 59.2639 8.15607 59.459C11.3167 75.3802 23.0119 88.2528 38.6594 93.1115L38.9078 93.2102L54.4965 96.9144L67.5704 88.0405L67.871 87.8149L67.9833 87.7253C70.0802 86.0668 72.0446 84.2596 73.7969 82.3107L74.281 82.829L87.0799 82.8939L87.4405 82.9031L87.5595 82.8929C87.8374 82.8691 88.1549 82.842 88.4327 82.8182C101.014 81.7423 112.145 73.994 117.414 62.6691C117.479 62.5036 117.545 62.338 117.651 62.1691L126.947 41.3845L104.912 13.7244Z" fill="white"/>
        <path d="M76.3755 25.0399L69.3896 40.5895C69.3204 40.7153 69.2909 40.8378 69.2183 40.9239C65.4825 49.599 66.9036 59.6722 72.7385 67.129L78.4354 73.4383L86.957 73.5092C96.4233 72.9395 104.856 67.3009 108.841 58.7245C108.91 58.5987 108.939 58.4762 109.012 58.39L115.998 42.8405L100.55 23.4923L76.3755 25.0399Z" fill="#CE85FB"/>
        <path d="M110.524 35.8726L103.674 51.1308C103.608 51.2963 103.539 51.4222 103.473 51.5877C98.4381 62.3728 87.8117 69.4783 75.9209 70.2153L75.5207 70.2096L78.4785 73.4748L87.0001 73.5456C96.4664 72.976 104.9 67.3374 108.884 58.761C108.953 58.6351 108.982 58.5127 109.055 58.4265L116.041 42.8769L110.524 35.8726Z" fill="#BA4AFF"/>
        <path d="M87.797 74.9166C87.5588 74.9369 87.3604 74.9539 87.1223 74.9743L87.0429 74.9811L77.8829 74.9248L71.6985 68.0576C65.4657 60.155 64.0401 49.5625 67.9733 40.3908C68.0425 40.2649 68.072 40.1425 68.1412 40.0166L75.4595 23.679L101.298 21.9492L117.734 42.5721L110.419 58.9494C110.35 59.0752 110.32 59.1977 110.251 59.3236C106.129 68.1517 97.5604 74.0817 87.797 74.9166ZM86.9936 72.0668C95.9802 71.4982 103.878 66.1453 107.628 58.1086C107.698 57.9827 107.731 57.9 107.76 57.7775L114.374 43.0193L99.9548 24.9425L77.3742 26.4337L70.7604 41.1919C70.7309 41.3144 70.6583 41.4005 70.6288 41.523C67.1301 49.6981 68.3778 59.1464 73.9407 66.2267L79.1932 72.0143L86.9936 72.0668Z" fill="black"/>
        <path d="M99.9966 48.8063C97.086 47.4961 95.5841 44.4262 96.0905 41.4644C95.7672 41.8918 95.4473 42.359 95.2136 42.8987C93.6663 46.3093 95.2099 50.3351 98.6171 51.8428C102.028 53.3902 106.054 51.8465 107.561 48.4393C107.795 47.8996 107.949 47.3667 108.064 46.8371C106.187 49.1965 102.864 50.0803 99.9966 48.8063Z" fill="black"/>
        <path d="M82.1192 40.7805C79.2086 39.4702 77.7067 36.4003 78.2131 33.4385C77.8898 33.866 77.5699 34.3331 77.3362 34.8728C75.7889 38.2834 77.3325 42.3092 80.7397 43.8169C84.1469 45.3246 88.1762 43.8206 89.6838 40.4134C89.9175 39.8737 90.0719 39.3408 90.1865 38.8113C88.3093 41.1706 84.9901 42.0941 82.1192 40.7805Z" fill="black"/>
        <path d="M83.5358 62.4876C78.7543 60.3378 76.0746 55.6495 76.6935 51.1989C76.1854 51.8021 75.7271 52.5209 75.3913 53.2692C73.1428 58.299 75.9017 64.3798 81.5142 66.8982C87.1268 69.4167 93.5498 67.3882 95.8017 62.3981C96.1341 61.6101 96.3871 60.8289 96.478 60.0215C93.6175 63.5044 88.3172 64.6373 83.5358 62.4876Z" fill="black"/>
        <path d="M69.9632 18.3123C51.8864 26.6546 31.9702 30.3167 12.106 28.977L17.3143 57.1566C17.3279 57.3154 17.3845 57.5104 17.3981 57.6692C19.913 70.2474 29.2139 80.3663 41.4519 84.1573L52.6717 86.7959L62.1914 80.3048C72.2703 72.4066 77.3733 59.6167 75.2123 46.9682C75.1987 46.8094 75.142 46.6144 75.1285 46.4556L69.9632 18.3123Z" fill="#CE85FB"/>
        <path d="M75.2553 47.0042C75.2417 46.8455 75.1851 46.6504 75.1715 46.4917L69.9632 18.312C66.4238 19.934 62.7915 21.404 59.1422 22.6756L63.7581 47.6676C63.8148 47.8626 63.8351 48.1008 63.8521 48.2992C66.2612 62.4457 61.2044 76.7109 50.8779 86.3894L52.6751 86.8353L62.1948 80.3442C72.3134 72.4426 77.3767 59.6561 75.2553 47.0042Z" fill="#BA4AFF"/>
        <path d="M52.9663 88.3697L41.0513 85.5506C28.1976 81.5725 18.5782 71.0011 15.9829 57.9499C15.9296 57.7946 15.9126 57.5961 15.8991 57.4374L10.3724 27.406L12.2219 27.5277C31.8049 28.8514 51.5624 25.2029 69.3715 17.0034L71.0635 16.219L76.5901 46.2505C76.6037 46.4092 76.6604 46.6043 76.674 46.763C78.8758 59.8878 73.6944 73.1641 63.0904 81.4671L63.0144 81.5136L52.9663 88.3697ZM41.8127 82.7669L52.3806 85.2614L61.3355 79.1784C71.0776 71.5489 75.8278 59.3089 73.797 47.2489C73.7835 47.0902 73.7302 46.9348 73.7166 46.7761L68.8628 20.4051C51.6049 28.0378 32.6741 31.5357 13.8394 30.5477L18.6932 56.9186C18.7068 57.0773 18.7601 57.2327 18.7736 57.3915C21.1979 69.3778 30.0249 79.0974 41.8127 82.7669Z" fill="black"/>
        <path d="M31.1655 45.2177C35.3783 44.4576 39.4453 46.6685 41.1637 50.3995C41.2216 49.675 41.1537 48.8812 41.0496 48.1305C40.1423 43.1307 35.3452 39.8629 30.3454 40.7702C25.3457 41.6775 22.0778 46.4746 22.9851 51.4743C23.129 52.2216 23.3522 52.9622 23.6515 53.6562C23.9403 49.5536 26.9165 46.0208 31.1655 45.2177Z" fill="black"/>
        <path d="M57.262 40.4274C61.4748 39.6674 65.5418 41.8782 67.2602 45.6093C67.3181 44.8847 67.2502 44.0909 67.1461 43.3402C66.2388 38.3404 61.4417 35.0726 56.4419 35.9799C51.4422 36.8872 48.1743 41.6843 49.0816 46.6841C49.2255 47.4314 49.4487 48.1719 49.748 48.8659C50.0368 44.7633 53.0096 41.1909 57.262 40.4274Z" fill="black"/>
        <path d="M49.8582 70.725C42.8909 72.0005 36.2648 68.849 33.5999 63.3999C33.4931 64.4885 33.5485 65.6031 33.766 66.7439C35.1117 74.065 42.8692 78.7588 51.0963 77.2556C59.3234 75.7525 64.9083 68.5984 63.5626 61.2774C63.3452 60.1366 63.0154 59.0853 62.4906 58.0908C61.885 64.0994 56.822 69.4099 49.8582 70.725Z" fill="black"/>
      </svg>
    </div>
    <div class="bloc-content">
      <div class="tag-topic theater mb-2">THEATRE</div>
      <div class="bloc-title">
        <p>Le Malade Imaginaire</p>
        <p>Molière, 1973</p>
      </div>
        <%= link_to "Découvrir" %>
    </div>
  </div>
  <div class="show-content">
    <div class="number">
      <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="7.96625" y="-4.21726" width="60" height="60" rx="30" transform="rotate(11.8007 7.96625 -4.21726)" stroke="#FFF96A" stroke-width="2"/>
      </svg>
    </div>
    <div class="bloc-content">
      <div class="tag-topic painting mb-2">PEINTURE</div>
      <div class="bloc-title">
        <p>L'Ouïe</p>
        <p>Alain Corneau</p>
      </div>
        <%= link_to "Découvrir" %>
    </div>
  </div>
  <div class="show-content">
    <div class="number">
      <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="7.96625" y="-4.21726" width="60" height="60" rx="30" transform="rotate(11.8007 7.96625 -4.21726)" stroke="#FFF96A" stroke-width="2"/>
      </svg>
    </div>
    <div class="bloc-content">
      <div class="tag-topic audio mb-2">AUDIO</div>
      <div class="bloc-title">
        <p>Tous les matins du monde</p>
        <p>Alain Corneau</p>
      </div>
        <%= link_to "Découvrir" %>
    </div>
  </div>
  <div class="show-content">
    <div class="number">
      <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="7.96625" y="-4.21726" width="60" height="60" rx="30" transform="rotate(11.8007 7.96625 -4.21726)" stroke="#FFF96A" stroke-width="2"/>
      </svg>
    </div>
    <div class="bloc-content">
      <div class="tag-topic book mb-2">LIVRE</div>
      <div class="bloc-title">
        <p>Tous les matins du monde</p>
        <p>Alain Corneau</p>
      </div>
        <%= link_to "Découvrir" %>
    </div>
  </div>
</div>






















