<!-- TEST -->
<%= [1, 2, 3, 4, 5].sample %>


<!-- FORM html -->
<h5>Fnd me in components/_search.scss</h5>

<div class="div-test">
  <p>Search form:</p>

  <%= form_for :search, url: "#", method: :get do |f| %>
    <div class="form-container">
      <label class="form-label form-label-hidden" for="search[query]">Champ de recherche</label>
      <input class="form-input" type="text" name="search[query]" id="search_query" placeholder="Une idée ?"/>
      <%= link_to 'Rechercher', '#', class: "btn-search form-btn" %>
    </div>
  <% end %>

</div>

<!-- FORM helper -->
<div class="div-test">
  <p>Login form:</p>

  <%= form_with url: "/search", method: :get do |form| %>
      <div class="form-container">

    <%= form.label :query, "Nom", class: "form-label" %>
    <%= form.text_field :query, class: "form-input", placeholder: "Toto"%>

    <%= form.label :query, "Email", class: "form-label" %>
    <%= form.text_field :query, class: "form-input", placeholder: "test@exemple.com"%>

    <%= form.label :query, "Mot de passe", class: "form-label" %>
    <%= form.text_field :query, class: "form-input", placeholder: "······"%>

    <%= form.submit "Me connecter", class: "btn-login form-btn" %>
      </div>
  <% end %>

</div>

<!-- BTN -->
<h5>Fnd me in components/_button.scss</h5>

<div class="div-test">
  <p>.btn-topic-disabled + .btn-active</p>
  <%= link_to '#Peinture', '#', class: "btn-topic-disabled" %>
  <%= link_to '#Histoire', '#', class: "btn-topic-disabled" %>
  <%= link_to '#Pop Art', '#', class: "btn-topic-disabled" %>
</div>

<div class="div-test">
  <%= link_to '#Peinture', '#', class: "btn-topic-disabled" %>
  <%= link_to '#Histoire', '#', class: "btn-topic-disabled btn-active" %>
  <%= link_to '#Pop Art', '#', class: "btn-topic-disabled" %>
</div>

<div class="div-test">
  <p>.btn-topic-disabled + .btn-active</p>
  <%= link_to 'Tous', '#', class: "btn-topic-disabled" %>
  <%= link_to 'En cours', '#', class: "btn-topic-disabled" %>
  <%= link_to 'Complétés', '#', class: "btn-topic-disabled btn-active" %>
</div>

<div class="div-test">
  <p>.btn-login</p>
  <%= link_to 'Me connecter', '#', class: "btn-login" %>
</div>

<div class="div-test">
  <p>.btn-search</p>
  <%= link_to 'Rechercher', '#', class: "btn-search" %>
</div>

<div class="div-test">
  <p>.btn-start</p>
  <%= link_to "S'inscrire à ce Parcours", '#', class: "btn-start" %>
</div>


<!-- TAGS -->
<h5>Fnd me in components/_tag.scss</h5>

<div class="div-test">
  <p>.tag-topic + CATEGORY NAME</p>
  <div class="tag-topic theater">MUSIQUE</div>
  <div class="tag-topic movie">ARCHITECTURE</div>
  <div class="tag-topic audio">PHOTOGRAPHIE</div>
  <div class="tag-topic painting">ART</div>
</div>

<div class="div-test">
  <p>.tag-category + CATEGORY NAME</p>
  <div class="tag-category painting">PEINTURE</div>
  <div class="tag-category movie">FILM</div>
  <div class="tag-category book">LIVRE</div>
  <div class="tag-category theater">THÉÂTRE</div>
  <div class="tag-category audio">AUDIO</div>
</div>
