<h1>Muse My Self</h1>

<!-- Search form -->
<%= form_for :search, url: journeys_path, method: :get do |f| %>
  <div class="form-container">
    <label class="form-label form-label-hidden" for="search[query]">Champ de recherche</label>
    <input class="form-input" type="text" name="search[query]" id="search_query" placeholder="Une idée ?"/>
    <%= f.submit "Rechercher", class: "btn-search form-btn" %>
  </div>
<% end %>


<!-- Caroussel tags -->
<div class="content-title">
  <h3>Explorer les parcours</h3>
</div>

<%= render 'shared/caroussel_tags', data: @topics %>



<!-- Caroussel cards 1 -->
<div class="content-title">
  <h3>Nouveautés</h3>
</div>

<%= render 'shared/caroussel_cards', data: @last_journeys %>

<!-- Caroussel cards 2 -->
<div class="content-title">
  <h3>Notre séléction pour vous</h3>
</div>

<%= render 'shared/caroussel_cards', data: @random_journeys %>
