<!-- Search Form -->
<%= render 'shared/search_form' %>



<%# if the the is not match with the research %>
<% if @journeys.size == 0 %>
<%# on peux eventuellement proposer un autre parcour %>
<h2>Desoler nous n'avons pas de parcours correspondanrs a votre recherche</h2>
<%# if only one resul %>
<% elsif @journeys.size == 1 %>
<h2>Resultat</h2>
<h3>le parcour</h3>
<div class="cards-container-vertical">
		<% @journeys.each do |journey| %>
			<%= link_to journey_path(journey), class: "card-journey" do %>

					<div class="bg">
						<div class="card-icone"></div>
						<h4>
							<%=journey.name%>
						</h4>
						<p>
							<%="#{journey.summary.split.first(4).join(" ")}..." %>
						</p>


				</div>

			<% end %>

		<% end %>
	</div>

</div>
<%# if more than one result %>
<% else %>
	<h2>Resultas</h2>
	<h3>les parcours</h3>
	<div class="cards-container-vertical">
		<% @journeys.each do |journey| %>
			<%= link_to journey_path(journey.id), class: "card-journey "  do %>

					<div class="bg">
						<div class="card-icone"></div>
						<h4>
							<%=journey.name%>
						</h4>
						<p>
							<%="#{journey.summary.byteslice(0, 30)}..." %>
						</p>


				</div>

			<% end %>

		<% end %>
	</div>

<% end %>




