<!-- Search Form -->
<div class="div-test">
  <%= render 'shared/search_form' %>
</div>

<!-- Search Results -->
<% if @journeys.size == 0 %>
  <!-- If 0 match result -->
  <div class="div-with-margin">
    <p>Désolé nous n'avons pas encore de parcours correspondant à votre recherche</p>
  </div>
  <!-- Caroussel tags -->
  <div class="content-title">
    <h3>Explorer les thèmes</h3>
  </div>
  <%= render 'shared/caroussel_tags', data: @topics %>
  <!-- Random suggestion of a journey -->
  <div class="content-title">
    <h3>Et si vous essayiez...</h3>
  </div>
  <%= render 'shared/vertical_cards', data: @journey_suggestions %>
<% elsif @journeys.size == 1 %>
  <!-- If only 1 match result -->
  <div class="content-title">
    <h3>Ce Parcours est fait pour vous !</h3>
  </div>
  <%= render 'shared/vertical_cards', data: @journeys %>
<% else %>
  <!-- If 2 or more match results -->
  <div class="content-title">
    <% if params[:search].present? %>
      <h3>Résultats pour "<%= params[:search]['query'] %>"</h3>
    <% elsif params[:topic_id].present? %>
      <!-- Caroussel tags -->
      <div class="content-title">
        <h3>Explorer les thèmes</h3>
      </div>
      <%= render 'shared/caroussel_tags', data: @topics %>
      <br><h3>Résultats pour #<%= @topic[0].name %></h3>
    <% else %>
      <!-- Caroussel tags -->
      <div class="content-title">
        <h3>Explorer les thèmes</h3>
      </div>
      <%= render 'shared/caroussel_tags', data: @topics %>
      <h3>Tous nos parcours</h3>
    <% end %>
  </div>
  <%= render 'shared/vertical_cards', data: @journeys %>
<% end %>
