<div class="placeholder" name="category">
  <span><%= @journey.topic.name %></span>
</div>
<div class="placeholder" name="Journey name">
  <h1><%= @journey.name %></h1>
</div>
<div class="placeholder" name="journey stats">
  <div class="placeholder">Inscrits <%= @count_subscribers %>
  </div>
  <div class="placeholder">Note moyenne <%= @average %>
  </div>
  <div class="placeholder">Durée <%= @duration %>
  </div>
</div>
<div class="placeholder" name="description">
  <p><%= @journey.summary %></p>
</div>
<div class="placeholder" name="content summary">
  <ul>
    <% @content_count_by_type.each do |key, value| %>
      <%  unless value.zero?  %>
        <li><%= "#{key} : reste #{@to_do_count_by_type[key]} sur #{value} au total"%></li>
      <% end %>
    <% end %>
  </ul>
  
  <%= simple_form_for(@journey, method: :post, url: journey_user_journeys_path(@journey)) do |f| %>
    <%= f.submit "S'inscrire au parcours" %>
  <% end %>

</div>
<div class="placeholder">
  <table class="placeholder">
    <% position = 0 %>
    <% @contents.each do |content| %>
      <% position += 1 %>
      <tr>
        <% if position.odd? %>
          <td>placeholder</td>
          <td>
            <ul>
              <li><%= content.category %></li>
              <li><%= content.title %></li>
              <li><%= "#{content.author}, #{content.date}" %></li>
              <!-- <li><%= link_to "Découvrir", user_journey_content_path %></li> -->
              <li><%= "#{@contents_durations[content][:hours]} h #{@contents_durations[content][:minutes]} min" %></li>
            </ul>
          </td>
          <td> <%= "Position : #{position}" %></td>
        <% else %>
          <td> <%= "Position : #{position}" %></td>
          <td>
            <ul>
              <li><%= content.category %></li>
              <li><%= content.title %></li>
              <li><%= "#{content.author}, #{content.date}" %></li>
              <!-- <li><%= link_to "Découvrir", user_journey_content_path %></li> -->
              <li><%= "#{@contents_durations[content][:hours]} h #{@contents_durations[content][:minutes]} min" %></li>
            </ul>
          </td>
          <td>placeholder</td>
        <% end %>
      </tr>
      <% end %>
  </table>
</div>
