<div class="placeholder" name="category">
  <span><%= @journey.topic.name %></span>
</div>
<div class="placeholder" name="Journey name">
  <h1><%= @journey.name %></h1>
</div>
<div class="placeholder" name="journey stats">
  <div class="placeholder">Inscrits <%= @subscribed %>
  </div>
  <div class="placeholder">Note moyenne <%= @average %>
  </div>
  <div class="placeholder">Durée <%= @duration %>
  </div>
</div>
<div class="placeholder" name="description">
  <p><%= @journey.summary %></p>
</div>
<div class="placeholder" name="content summary">
  <ul>
    <li>Video</li>
    <li>Théâtre</li>
    <li>...</li>
  </ul>
  <button type="button" name="button">S'inscrire au parcours</button>
</div>
