<div class="container text-center mt-5">
  <div class="category">
    <span class="tag-topic theater"><%= @journey.topic.name %></span>
  </div>
  <div class="journey-name">
    <h1><%= @journey.name %></h1>
  </div>
  <div class="stats">
    <div class="subscribe"><%= @count_subscribers %>
    </div>
    <div class="rating"><%= @average_rating %>
    </div>
    <div class="duration"><%= @duration %>
    </div>
  </div>

  <div class="description">
    <p><%= @journey.summary %></p>
  </div>
  <section>
    <div class="content-journey">
        <% @content_count_by_type.each do |key, value| %>
          <%  unless value.zero?  %>
            <div class="card-content">
              <% if @subscribed %>
              <!<%= image_tag("#{key}-content.svg") %>
                <div class="counter">
                  <p><%= "#{@to_do_count_by_type[key]}/#{value}" %></p>
                </div>
                <% else %>
                <%= image_tag("#{key}-content.svg") %>
                <div class="counter">
                  <p><%= "#{value}" %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  </section>


      <%= simple_form_for(@journey, method: :post, url: journey_user_journeys_path(@journey)) do |f| %>
        <%= f.submit "S'inscrire au parcours", class:'btn-start' %>
      <% end %>

  </div>
</div>

<div class="container journey-show">
  <% position = 0 %>
  <% @contents.each do |content| %>
    <% position += 1 %>
    <div class="show-content">
      <div class="number <%= @tags[content.category] %>">
        <%= position  %>
      </div>
    </div>
    <div class="icon-topic-<%= @tags[content.category] %>">
      <%= image_tag("#{@tags[content.category]}.svg") %>
    </div>
    <div class="bloc-content">
      <div class="tag-topic <%= @tags[content.category] %> mb-2">
        <%= content.category %>
      </div>
      <div class="bloc-title">
        <p><%= "#{@contents_durations[content][:hours]} h #{@contents_durations[content][:minutes]} min" %></p>
        <p><%= content.title %></p>
        <p><%= "#{content.author}, #{content.date}" %></p>
      </div>
    </div>
  <% end %>
</div>
