<div class="container text-center mt-5">
  <div class="category">
    <span class="tag-topic theater"><%= @journey.topic.name %></span>
  </div>
  <div class="journey-name">
    <h1><%= @journey.name %></h1>
  </div>
  <div class="stats">
    <div class="subscribe"><%= @count_subscribers %>
    </div>
    <div class="rating"><%= @average_rating %>
    </div>
    <div class="duration"><%= @duration %>
    </div>
  </div>

  <div class="description">
    <p><%= @journey.summary %></p>
  </div>

  <section>
    <div class="content-journey">
      <% @contents_by_type.each do |key, value| %>

       <% if value.any? %>
          <div class="card-content">
            <%= image_tag("#{@tags[key]}-content.svg") %>
            <div class="counter-todo">
              <p><%= "#{value.size}" %></p>
            </div>
          </div>
       <% end %>

      <% end %>
    </div>
  </section>


  <%= simple_form_for(@journey, method: :post, url: journey_user_journeys_path(@journey)) do |f| %>
    <%= f.submit "S'inscrire au parcours", class:'btn-start' %>
  <% end %>

  </div>
</div>

<div class="container journey-show">
  <% position = 0 %>
  <% @contents.each do |content| %>
    <% position += 1 %>
    <div class="animated-contend-<%= position % 2 == 0 ? "left"  : "right"  %>">
      
      <div class="show-content  <%= position % 2 == 0 ? "content-left"  : "content-right"  %>">
        <div class="number <%= @tags[content.category] %>">
          <%= position  %>
        </div>
        <div class="topic-and-title-block <%= position % 2 == 0 ? "block-left"  : "block-right"  %>">
          <div class="icon-topic-<%= @tags[content.category] %>  <%= position % 2 == 0 ? "icon-topic-left"  : "icon-topic-right"  %>">
            <%= image_tag("#{@tags[content.category]}.svg") %>
          </div>
          <div class="tag-topic <%= @tags[content.category] %>">
            <%= content.category %>
          </div>
          <div class="bloc-title">
            <p><%= "#{@contents_durations[content][:hours]} h #{@contents_durations[content][:minutes]} min" %></p>
            <p><%= content.title %></p>
            <p><%= "#{content.author}, #{content.date}" %></p>
          </div>
        </div>
      </div>
    </div>

    <% if position % 2 == 0 && position < @contents.size  %>
        <div class="svg-animated svgLeftToRigth">
          <svg width="305" height="171" viewBox="0 0 305 171" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.00317 171C1.00317 110.368 86.5513 86.9474 180.5 104C274.449 121.053 304 83.3684 304 0" stroke="white" />
          </svg>
        </div>
    <% elsif  position % 2 != 0  && position < @contents.size  %>
        <div class="svg-animated svgRigthToLeft">
          <svg width="305" height="171" viewBox="0 0 305 171" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.00317 171C1.00317 110.368 86.5513 86.9474 180.5 104C274.449 121.053 304 83.3684 304 0" stroke="white" />
          </svg>
        </div>
    <% end %>
  <% end %>
</div>
